@page
@model DishShare.Pages.SavedRecipes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SavedRecipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SavedRecipe.AddingDate" class="control-label"></label>
                <input asp-for="SavedRecipe.AddingDate" class="form-control" />
                <span asp-validation-for="SavedRecipe.AddingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavedRecipe.CollectionName" class="control-label"></label>
                <input asp-for="SavedRecipe.CollectionName" class="form-control" />
                <span asp-validation-for="SavedRecipe.CollectionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavedRecipe.PersonalNotes" class="control-label"></label>
                <input asp-for="SavedRecipe.PersonalNotes" class="form-control" />
                <span asp-validation-for="SavedRecipe.PersonalNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavedRecipe.UserID" class="control-label"></label>
                <select asp-for="SavedRecipe.UserID" class ="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
